<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>Scrabble Score Calculator</title>
</head>
<body>
  <div class="container">
    <h1>Scrabble Score Calculator</h1>
    <form action="/score" method="post">
      <div class="form-group">
        <label for="word">Enter a word:</label>
        <input type="text" name="word" class="form-control" id="word" required>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% if scrabble.getScore is not empty %}
      <h3>{{scrabble.getWord}} is worth {{scrabble.getScore}} points!</h3>
    {% endif %}
  </div>
</body>
</html>
